body{
    background-color: black;
}
header{
    background-color: #000000f1;
   color: rgb(168, 100, 168);
   text-align: center;
   font: 1em fantasy;
   font-size: 40px;
   font-weight: 1000;
   
}
h1{
    text-align: center;
    border: solid #7878c1 2px;
     font-style: fantasy;
}
h2{
    text-align: center;
    color: blanchedalmond;
}
section{
   background-color: #02020ef1;

}
li 
{
    display: inline;
    color: rgb(124, 63, 22);
    border: groove rgb(168, 100, 168)  1px;
    padding: 0px 16px
}
p{ 
    color: azure;
    text-align: center;   
}
img{
border: #26402489;
display: block;
margin-right: auto;
margin-left: auto;
}
footer{
background-color: 0 0% 0;
color: rgb(238, 251, 249);
}
